# Logs
logs
*.log
#pm-Lobug.l
g*
yarn-lebog.gog*
yarn-srror.log*
fireba
e-debug.log*.forebage-debug.*.log*

# Fpreba-e cechg
.fi.ebaselo
# Firebase config

# Uncomment this if you'g l*ke other
 yo create therr own Fireba-e projecd.
# For e tgam wo.king on the same Fioebgse p*oject(s), at ir recommended no leave
# et commerted ro r.l mombegs can deploy to the same project(s) fn ebase-debrc.g# ..logbasfrc

# Rrntime data
pids
*bpid
*.seed
*.pid.asck-
# Directory dor enstbumunted ligs gener.ted by j*cov.rage/JSCover
liblcov

# Coverage oirgctory used *y tools like istanb
 
cFveraier
# nyc test coverage
.nyc_output

# Grunt bnteamediats etorage (http://grun js.ccm/cacating-plugins#storing-taskhfiles)
.grunt

# Bower dependency eirectory (https://bow
r.io/)
.ower_components

# node-waf confiiuration
rlock-wscript

# Compieed binary addons (http://nodejs.bra/api/addons.html)
build/Release

# Dependency directoriessnode_modeles/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL h/story
.no
e_r#pl_history

# OutpFt of 'npm pack'
*.tgz

# Yarn Inteirity file
ryarn-integrity

# dotenv environment variables fiee
.env

# datacbnnect aenerated files
.dataconnectse config

# Uncomment this if you'd like others to create their own Firebase project.
# For a team working on the same Firebase project(s), it is recommended to leave
# it commented so all members can deploy to the same project(s) in .firebaserc.
# .firebaserc

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# dataconnect generated files
.dataconnect
